body{
    font-size: "Industry Medium";
}


/* img of player styling */
/* .imgBackground {
    max-width: 35%;
    margin: 15px auto;
    max-height: 87%;
    background-color: red;
} */
.imgBackground img {
    /* margin-right: 40%; */
    max-width: 256px;
    max-height: 256px;
}



li{
    text-align: center;
    font-size: 18px;
}




/* Stat table */
.statContainer {
    margin-top: 20px;
}
.statTitleRow {
    font-weight: bold;
}
.statRow {
    margin-bottom: 10px;
}
.statTitles {
    text-align: center;
    padding-bottom: 10px;
}



/* totals above stats table */
.totalMode {
    text-align: center;
}
.totalMode:hover {
    cursor: pointer;
}



/* Stats table */
.teamBuilder{
    margin-bottom: 40px;
    padding-bottom: 20px;
}
.teamBuilder h3 {
    text-align: center;
    margin: 0px;
    font-size: large;
}
.teamForm {
    max-width: 90%;
    margin: 10px auto;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
    background: #eeeeee;
}
.teamFieldset {
    padding: 20px 10px;
    border: none;
    max-height: 50%;
}
.teamFieldset h3{
    margin: 0px;
    font-size: 24px;
}




/* Hide maps and mode on mobile */
@media (max-width: 767px) {
    .element-to-hide {
      display: none;
    }
}

/* @media (max-width: 1311px) {
    .imgBackground {
        max-width: 55%;
        margin: 15px auto;
        max-height: 86%;
        background-color: red;
    }
    .imgBackground img {
        margin-right: 40%;
        max-width: 55%;
        max-height: 100%;
    }
}


@media (max-width: 1040px) {
    .imgBackground {
        max-width: 55%;
        margin: 15px auto;
        max-height: 87%;
        background-color: red;
    }
    .imgBackground img {
        margin-right: 40%;
        max-width: 55%;
        max-height: 100%;
    }
}


@media (max-width: 834px) {
    .imgBackground {
        max-width: 55%;
        margin: 15px auto;
        max-height: 86%;
        background-color: red;
    }
    .imgBackground img {
        margin-right: 40%;
        max-width: 55%;
        max-height: 100%;
    }
}

@media (max-width: 500px) {
    .imgBackground {
        max-width: 85%;
        margin: 15px auto;
        max-height: 86%;
        background-color: red;
    }
    .imgBackground img {
        margin-right: 40%;
        max-width: 55%;
        max-height: 100%;
    }
}

@media (max-width: 428px) {
    .imgBackground {
        max-width: 85%;
        margin: 15px auto;
        max-height: 84%;
        background-color: red;
    }
    .imgBackground img {
        margin-right: 40%;
        max-width: 55%;
        max-height: 100%;
    }
}


@media (max-width: 390px) {
    .imgBackground {
        max-width: 85%;
        margin: 15px auto;
        max-height: 83%;
        background-color: red;
    }
    .imgBackground img {
        margin-right: 40%;
        max-width: 55%;
        max-height: 100%;
    }
} */